@import url('nes.css/css/nes.css');


/**
 * NES Overrides
 */

.nes-progress {
  margin: 0;
}

.nes-list {
  padding-left: 1.5rem;
}

.nes-input, .nes-textarea {
  padding: 0;
  margin: 0;
}

.nes-btn {
  padding: 12px;
}

a {
  color: #006EE5;
}

/**
 * aersia.pauldariye.com styles
 */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, html {
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background: #e7e7e7;
}

::-webkit-scrollbar-thumb {
  background: #212529;
  opacity: 0.6;
  height: 4rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}

main {
  position: relative;
}

li {
  list-style-type: none;
}

#playback,
#playlist {
  width: 100%;
}

audio {
  display: none;
}

input {
  width: 100%;
}

input[type=search] {
  font-size: 1.5em;
  line-height: 1.5em;
  border: none;
  outline: none;
  box-shadow: none;
}

input[type=search]:focus {
  outline: none;
}

article h3 {
  font-size: 0.75rem;
}

article h4 {
  font-size: 0.5em;
}

.controls {
  transition: all 0.3s ease-in;
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;
  padding-bottom: 0.2rem;
}

.control-group {
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 0.3rem;
}

.control-group button {
  flex-grow: 1;
  flex-basis: 8%;
}

.control-group .volume {
  flex-grow: 2;
  flex-basis: 25%;
}

.control-group .progress {

}

.control-group input[type=range] {

}

.progress-container {
  display: flex;
  align-items: center;
  flex-basis: 50%;
}



.volume,
.progress {
  position: relative;
  z-index: 0;
}



input[type=range] {
  transition: all 0.1s ease-in;
  -webkit-appearance: none;
  height: 48px;
  width: 100%;
  padding: 4px;
  color: #212529;
  background-color: #fff;
  box-shadow: 4px 0, -4px 0, 0 4px, 0 -4px;
  appearance: none;
  outline: none;
  border-radius: unset;
}

input[type=range]:focus {
  outline: none;
}

/** black and white background **/
/**
 background-color: #212529;
background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
background-position: 0 0, 10px 10px;
background-size: 20px 20px;
**/

input[type=range]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  background: #212529;
  cursor: url(https://unpkg.com/nes.css/assets/cursor.png), auto;
  border: none;
  border-radius: unset;
  height: 100%;
  width: 0.5rem;
}

input[type=range]::-moz-range-thumb {
  position: relative;
  -webkit-appearance: none;
  background: #212529;
  cursor: url(https://unpkg.com/nes.css/assets/cursor.png), auto;
  border: none;
  border-radius: unset;
  height: 100%;
  width: 0.5rem;
}

input[type=range]::-ms-thumb {
  position: relative;
  -webkit-appearance: none;
  background: #212529;
  cursor: url(https://unpkg.com/nes.css/assets/cursor.png), auto;
  border: none;
  border-radius: unset;
  height: 100%;
  width: 0.5rem;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  cursor: inherit;
  background: #e7e7e7;
  color: #212529;
  border: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #e7e7e7;
}

input[type=range]::-ms-track {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  cursor: inherit;
  background: #e7e7e7;
  color: #212529;
  border: none;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  cursor: inherit;
  background: #e7e7e7;
  color: #212529;
  border: none;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.controls .duration,
.controls .elasped {
  transition: all 0.1s linear;
  flex-grow: 2;
  flex-basis: 30%;
  font-size: 0.5rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

.play,
.pause {
  top: 0;
  left: 0;
}

/* .nes-btn img { */
/*   width: */
/* } */
/*  */
/* .play { */
/*   background: url('./images/play.svg') center center no-repeat; */
/* } */
/*  */
/* .pause { */
/*   background: url('./images/pause.svg') center center no-repeat; */
/* } */
/*  */
/* .next { */
/*   background: url('./images/next.svg') center center no-repeat; */
/* } */
/*  */
/* .previous { */
/*   background: url('./images/previous.svg') center center no-repeat; */
/* } */
/*  */
/* .replay { */
/*   background: url('./images/replay.svg') center center no-repeat; */
/* } */
/*  */
/* .stop { */
/*   background: url('./images/stop.svg') center center no-repeat; */
/* } */
/*  */
/* .mute { */
/*   background: url('./images/mute.svg') center center no-repeat; */
/* } */
/*  */
/* .unmute { */
/*   background: url('./images/unmute.svg') center center no-repeat; */
/* } */


.hide {
  display: none;
}

.search-container,
.playlist-container {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.playlist-container {
  padding-bottom: 0.1rem;
}

.playlist-container:after {
  /* z-index: 0; */
}

.tracks {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  max-height: 40rem;
}

.tracks::-webkit-scrollbar {
  max-height: 38rem;
}

.track {

}

select {
  display: none;
}

.select {
  position: relative;
}

.selected {
  background: #fff;
}

.selected:after {
  content: "";
  position: absolute;
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: red transparent transparent transparent;
}

.selected.active:after {
  border-color: transparent transparent red transparent;
  top: 7px;
}

ul.select {
  margin: 0;
}

.select li, .selected {
  list-style-type: none;
  color: #212529;
  padding: 0.2rem 0.4rem;
  border: 1px solid #212529;
  cursor: url(https://unpkg.com/nes.css/assets/cursor.png), auto;
}

.select li {
  position: absolute;
  background: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 2;
}

.is-gray,
.is-gray:after,
.is-gray:before {
  background-color: #e7e7e7;
}


.playlist-container li {
  transition: all 0.3s ease-in-out;
}

.playlist-container li:hover {
  box-shadow: 0 4px #212529, 0 -4px #212529, 4px 0 #212529, -4px 0 #212529;
}

footer p,
footer li {
  font-size: 0.5rem;
}

footer li {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

footer p {
  padding-top: 1rem;
  text-align: center;
  margin-bottom: 0;
}

footer .heart {
  vertical-align: middle;
}

footer h3 {
  font-size: 0.7rem;
}

footer main {
  display: flex;
  flex-wrap: wrap;
}

footer section {
  flex-basis: 50%;
}

.year {
  display: inline-block;
  padding-left: 5px;
}

.indicators {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}


.nes-icon.hn {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
}
.nes-icon.hn:before {
  width: 2px;
  height: 2px;
box-shadow: 10px 2px 0 #FF4000,12px 2px 0 #FF4000,14px 2px 0 #FF4000,16px 2px 0 #FF4000,18px 2px 0 #FF4000,20px 2px 0 #FF4000,22px 2px 0 #FF4000,24px 2px 0 #FF4000,26px 2px 0 #FF4000,28px 2px 0 #FF4000,30px 2px 0 #FF4000,32px 2px 0 #FF4000,8px 4px 0 #FF4000,10px 4px 0 #FF4000,12px 4px 0 #FF4000,14px 4px 0 #FF4000,16px 4px 0 #FF4000,18px 4px 0 #FF4000,20px 4px 0 #FF4000,22px 4px 0 #FF4000,24px 4px 0 #FF4000,26px 4px 0 #FF4000,28px 4px 0 #FF4000,30px 4px 0 #FF4000,32px 4px 0 #FF4000,34px 4px 0 #FF4000,6px 6px 0 #FF4000,8px 6px 0 #FF4000,10px 6px 0 #FF4000,12px 6px 0 #FF4000,14px 6px 0 #FF4000,16px 6px 0 #FF4000,18px 6px 0 #FF4000,20px 6px 0 #FF4000,22px 6px 0 #FF4000,24px 6px 0 #FF4000,26px 6px 0 #FF4000,28px 6px 0 #FF4000,30px 6px 0 #FF4000,32px 6px 0 #FF4000,34px 6px 0 #FF4000,36px 6px 0 #FF4000,6px 8px 0 #FF4000,8px 8px 0 #FF4000,10px 8px 0 #FF4000,12px 8px 0 #FF4000,14px 8px 0 #FF4000,16px 8px 0 #FF4000,18px 8px 0 #FF4000,20px 8px 0 #FF4000,22px 8px 0 #FF4000,24px 8px 0 #FF4000,26px 8px 0 #FF4000,28px 8px 0 #FF4000,30px 8px 0 #FF4000,32px 8px 0 #FF4000,34px 8px 0 #FF4000,36px 8px 0 #FF4000,6px 10px 0 #FF4000,8px 10px 0 #FF4000,10px 10px 0 #FF4000,12px 10px 0 #FF4000,14px 10px 0 #FF4000,16px 10px 0 #FF4000,18px 10px 0 #FF4000,20px 10px 0 #FF4000,22px 10px 0 #FF4000,24px 10px 0 #FF4000,26px 10px 0 #FF4000,28px 10px 0 #FF4000,30px 10px 0 #FF4000,32px 10px 0 #FF4000,34px 10px 0 #FF4000,36px 10px 0 #FF4000,6px 12px 0 #FF4000,8px 12px 0 #FF4000,10px 12px 0 #FFFFFF,12px 12px 0 #FF4000,14px 12px 0 #FF4000,16px 12px 0 #FF4000,18px 12px 0 #FF4000,20px 12px 0 #FF4000,22px 12px 0 #FF4000,24px 12px 0 #FF4000,26px 12px 0 #FF4000,28px 12px 0 #FF4000,30px 12px 0 #FF4000,32px 12px 0 #FFFFFF,34px 12px 0 #FF4000,36px 12px 0 #FF4000,6px 14px 0 #FF4000,8px 14px 0 #FF4000,10px 14px 0 #FFFFFF,12px 14px 0 #FFFFFF,14px 14px 0 #FF4000,16px 14px 0 #FF4000,18px 14px 0 #FF4000,20px 14px 0 #FF4000,22px 14px 0 #FF4000,24px 14px 0 #FF4000,26px 14px 0 #FF4000,28px 14px 0 #FF4000,30px 14px 0 #FFFFFF,32px 14px 0 #FFFFFF,34px 14px 0 #FF4000,36px 14px 0 #FF4000,6px 16px 0 #FF4000,8px 16px 0 #FF4000,10px 16px 0 #FF4000,12px 16px 0 #FFFFFF,14px 16px 0 #FFFFFF,16px 16px 0 #FF4000,18px 16px 0 #FF4000,20px 16px 0 #FF4000,22px 16px 0 #FF4000,24px 16px 0 #FF4000,26px 16px 0 #FF4000,28px 16px 0 #FFFFFF,30px 16px 0 #FFFFFF,32px 16px 0 #FF4000,34px 16px 0 #FF4000,36px 16px 0 #FF4000,6px 18px 0 #FF4000,8px 18px 0 #FF4000,10px 18px 0 #FF4000,12px 18px 0 #FF4000,14px 18px 0 #FFFFFF,16px 18px 0 #FFFFFF,18px 18px 0 #FF4000,20px 18px 0 #FF4000,22px 18px 0 #FF4000,24px 18px 0 #FF4000,26px 18px 0 #FFFFFF,28px 18px 0 #FFFFFF,30px 18px 0 #FF4000,32px 18px 0 #FF4000,34px 18px 0 #FF4000,36px 18px 0 #FF4000,6px 20px 0 #FF4000,8px 20px 0 #FF4000,10px 20px 0 #FF4000,12px 20px 0 #FF4000,14px 20px 0 #FF4000,16px 20px 0 #FFFFFF,18px 20px 0 #FFFFFF,20px 20px 0 #FF4000,22px 20px 0 #FF4000,24px 20px 0 #FFFFFF,26px 20px 0 #FFFFFF,28px 20px 0 #FF4000,30px 20px 0 #FF4000,32px 20px 0 #FF4000,34px 20px 0 #FF4000,36px 20px 0 #FF4000,6px 22px 0 #FF4000,8px 22px 0 #FF4000,10px 22px 0 #FF4000,12px 22px 0 #FF4000,14px 22px 0 #FF4000,16px 22px 0 #FF4000,18px 22px 0 #FFFFFF,20px 22px 0 #FFFFFF,22px 22px 0 #FFFFFF,24px 22px 0 #FFFFFF,26px 22px 0 #FF4000,28px 22px 0 #FF4000,30px 22px 0 #FF4000,32px 22px 0 #FF4000,34px 22px 0 #FF4000,36px 22px 0 #FF4000,6px 24px 0 #FF4000,8px 24px 0 #FF4000,10px 24px 0 #FF4000,12px 24px 0 #FF4000,14px 24px 0 #FF4000,16px 24px 0 #FF4000,18px 24px 0 #FF4000,20px 24px 0 #FFFFFF,22px 24px 0 #FFFFFF,24px 24px 0 #FF4000,26px 24px 0 #FF4000,28px 24px 0 #FF4000,30px 24px 0 #FF4000,32px 24px 0 #FF4000,34px 24px 0 #FF4000,36px 24px 0 #FF4000,6px 26px 0 #FF4000,8px 26px 0 #FF4000,10px 26px 0 #FF4000,12px 26px 0 #FF4000,14px 26px 0 #FF4000,16px 26px 0 #FF4000,18px 26px 0 #FF4000,20px 26px 0 #FFFFFF,22px 26px 0 #FFFFFF,24px 26px 0 #FF4000,26px 26px 0 #FF4000,28px 26px 0 #FF4000,30px 26px 0 #FF4000,32px 26px 0 #FF4000,34px 26px 0 #FF4000,36px 26px 0 #FF4000,6px 28px 0 #FF4000,8px 28px 0 #FF4000,10px 28px 0 #FF4000,12px 28px 0 #FF4000,14px 28px 0 #FF4000,16px 28px 0 #FF4000,18px 28px 0 #FF4000,20px 28px 0 #FFFFFF,22px 28px 0 #FFFFFF,24px 28px 0 #FF4000,26px 28px 0 #FF4000,28px 28px 0 #FF4000,30px 28px 0 #FF4000,32px 28px 0 #FF4000,34px 28px 0 #FF4000,36px 28px 0 #FF4000,8px 30px 0 #FF4000,10px 30px 0 #FF4000,12px 30px 0 #FF4000,14px 30px 0 #FF4000,16px 30px 0 #FF4000,18px 30px 0 #FF4000,20px 30px 0 #FFFFFF,22px 30px 0 #FFFFFF,24px 30px 0 #FF4000,26px 30px 0 #FF4000,28px 30px 0 #FF4000,30px 30px 0 #FF4000,32px 30px 0 #FF4000,34px 30px 0 #FF4000,10px 32px 0 #FF4000,12px 32px 0 #FF4000,14px 32px 0 #FF4000,16px 32px 0 #FF4000,18px 32px 0 #FF4000,20px 32px 0 #FF4000,22px 32px 0 #FF4000,24px 32px 0 #FF4000,26px 32px 0 #FF4000,28px 32px 0 #FF4000,30px 32px 0 #FF4000,32px 32px 0 #FF4000;
}

.indicator-group {
  display: flex;
}

.indicator {
  display: flex;
  margin-bottom: 0;
  font-size: 0.4rem;
}

.indicator:last-child {
  margin-left: 0.7rem;
}

.presence {
  transition: all 0.2s ease-in;
}

.user-count {
  text-decoration: underline;
}

.user-count:before {
  content: ' ';
  width: 0.1rem;
  display: inline-block;
  background: transparent;
}

.current-track {

}

.current-track h3 {
  margin: 0;
  font-size: 0.4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.network:after {
  content: ' ';
  margin-top: -3px;
  margin-left: 8px;
  display: block;
  width: 4px;
  height: 4px;
  background: #E76E55;
  border-radius: 0;
  box-shadow:
    4px 4px #E76E55,
    -4px 4px #E76E55,
    0 2px #E76E55,
    0 8px #E76E55,
    -2px 6px #E76E55,
    2px 6px #E76E55,
    0 0 #E76E55,
    2px 2px #E76E55,
    -2px 2px #E76E55;
}

.network.online:after {
  content: ' ';
  margin-top: -3px;
  margin-left: 8px;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 0;
  background: #76c442;
  box-shadow:
    4px 4px #76c442,
    -4px 4px #76c442,
    0 2px #76c442,
    0 8px #76c442,
    -2px 6px #76c442,
    2px 6px #76c442,
    0 0 #76c442,
    2px 2px #76c442,
    -2px 2px #76c442;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}


@keyframes pulse {
  0 % {
    opacity: 1;
  }

  25% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.50;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 414px) {
  .nes-container {
    padding: 1.5rem 1rem;
  }
  .current-track {
    flex-basis: 60%;
  }
}

@media only screen and (min-width: 659px) {
  .controls {
    flex-direction: row;
  }

  .control-group {
    width: 50%;
    padding-top: 0;
  }
}

@media only screen and (max-width: 659px) {
  footer main {
    flex-direction: column;
  }
}

@media only screen and (min-width: 960px) {
  main {
    max-width: 800px;
  }
}

